.dashboard-container {
    place-items: center;
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: white;
    transition: all 0.6s ease-in-out;
}

.dashboard-container header {
    margin: 0px;
    height: 10vh;
    align-items: center;
    display: flex;
}

.toggle-btn {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: white;
    color: blue;
}

.toggle-btn:hover {
    background-color: #e6edf7;
}

.left-panel {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 0 20px rgba(0,0,0,.1);
    animation: left-to-right 0.25s ease-in-out forwards;
}

.left-panel header {
    display: flex;
    justify-content: right;
}

.left-hide {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 10%;
    padding: 15px;
    background-color: white;
    animation: right-to-left 0.25s ease-in-out forwards;
}

.left-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.left-button button {
    display: flex;
    width: 100%;
    height: 10%;
    margin: 4px 5px 4px 3px;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    background-color: white;
    color: black;
}

.left-button button:hover {
    background-color: #e6edf7;
}

.right-panel {
    width: 85%;
    height: 100%;
}

.right-panel header {
    display: flex;
    justify-content: right;
    background-color: white;
    box-shadow: 0px 0 20px rgba(0,0,0,.1);
}

.right-panel header button {
    padding: 20px;
    height: 100%;
    margin-left: 20px;
    background-color: white;
    color: rgb(89, 34, 238);
}

.right-panel header button:hover {
    background-color: #e6edf7;
}

.main-container {
    max-height: 90vh;
    max-width: 100%;
    display: flex;
    justify-content: space-around;

    /* Add scrollbars */
    overflow-x: auto;
    overflow-y: auto;

    /* Optional: smooth scrolling */
    scroll-behavior: smooth;

    /* Keep some padding */
    padding: 10px;
}


@keyframes left-to-right {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes right-to-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

